name: gnn_exp
channels:
  - pytorch
  - pyg
  - conda-forge
  - defaults
dependencies:
  - python>=3.9
  - pytorch>=2.0.0
  - torchvision
  - torchaudio
  - pytorch-cuda=11.8
  - pyg
  - pytorch-geometric
  - rdkit
  - networkx
  - pandas
  - matplotlib
  - seaborn
  - scikit-learn
  - numpy
  - scipy
  - pip
  - pip:
    - torch-scatter
    - torch-sparse
    - torch-cluster
    - torch-spline-conv
